*.db
venv
P2025/Machine Learning (TIEL26)/U4 Implementación modelo Deep learning/modelo_entrenado
P2025/Machine Learning (TIEL26)/U4 Implementación modelo Deep learning/results
.env
config/gdrive-sa.json