[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gymnasium = "*"
scikit-learn = "*"
seaborn = "*"
pandas = "*"
tqdm = "*"
torchvision = "*"
torchaudio = "*"
sagemaker = "*"
boto3 = "*"
requests = "*"
tensorflow = "*"
unsloth = "*"
huggingface-hub = "<1.0,>=0.23.2"
evaluate = "==0.4.0"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
transformers = "*"
torch = "*"
pydantic = "*"

[dev-packages]

[requires]
python_version = "3.12"
