[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gymnasium = "*"
scikit-learn = "*"
seaborn = "*"
pandas = "*"
tqdm = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
sagemaker = "*"
boto3 = "*"
requests = "*"
tensorflow = "*"

[dev-packages]

[requires]
python_version = "3.12"
